/* think tank forums
 *
 * _style.css
 */

a {
	color: #000000;
}

a:active {
	color: #000000;
}

a:link {
	color: #000000;
}

a:visited {
	color: #000000;
}

body {
	background-image: url(images/bg.gif);
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	color: #000000;
	font-size: 15px;
	background-color: #ffffff;
	font-family: verdana, sans-serif;
}

textarea {
	border-style: solid;
	border-width: 0;
}

textarea.reply {
	width: 555px;
	color: #000000;
	font-size: 11px;
	background-color: #ffffff;
	font-family: verdana, sans-serif;
	margin: 5px 5px 5px 5px;
}

textarea.profile {
	width: 588px;
	color: #000000;
	font-size: 11px;
	background-color: #ffffff;
	font-family: verdana, sans-serif;
	margin: 3px 3px 3px 3px;
}


input, select {
	border-style: solid;
	border-color: black;
	border-width: 1px;
	background-color: white;
	font-family: verdana, sans-serif;
	color: #000000;
	margin: 1px 0px 1px 0px;
}

input.reply {
	border-style: solid;
	border-color: black;
	border-width: 1px;
	background-color: black;
	margin: 0px 0px 0px 0px;
}

form {
	margin: 0px 0px 0px 0px;
}

.small {
	color: #000000;
	font-size: 11px;
	background-color: #ffffff;
	font-family: verdana, sans-serif;
}

.medium {
	color: #000000;
	font-size: 13px;
	background-color: #ffffff;
	font-family: verdana, sans-serif;
}

.large {
	color: #000000;
	font-size: 15px;
	background-color: #ffffff;
	font-family: verdana, sans-serif;
}

.smallinv {
	color: #ffffff;
	font-size: 11px;
	background-color: #000000;
	font-family: verdana, sans-serif;
}

.mediuminv {
	color: #ffffff;
	font-size: 13px;
	background-color: #000000;
	font-family: verdana, sans-serif;
}

.largeinv {
	color: #ffffff;
	font-size: 15px;
	background-color: #000000;
	font-family: verdana, sans-serif;
}

.indent {
	margin-left: 25px;
}

.shift {
	margin-top: 25px;
}

.sidebox {
        float: right;
        clear: right;
	width: 153px;
        margin: 26px 1px 1px 0px;
	padding: 10px;
	color: #000000;
	font-size: 13px;
	background-color: #ffffff;
	font-family: verdana, sans-serif;
	text-align: center;
}

#ttf {
	padding: 0px;
	margin: 10px 0px 0px 25px;
	display: block;
}

#label {
	width: 100%;
	height: 18px;
	margin: 0px 0px;
	padding: 3px 0px 3px 0px;
	color: #000000;
	font-size: 15px;
	background-color: #ffffff;
	font-family: verdana, sans-serif;
	font-weight: bold;
}

#enclosure {
	width: 800px;
	padding: 0px 25px 25px 25px;
        margin: 0px 0px;
	overflow: auto;
}

.menu_one {
	float: right;
        clear: right;
	width: 169px;
	padding: 2px;
	margin: 26px 1px 1px 0px;
	color: #ffffff;
	font-size: 13px;
	background-color: #000000;
	font-family: verdana, sans-serif;
}

.menu_two {
	float: right;
        clear: right;
	width: 163px;
	padding: 5px;
	margin: 0px 1px 1px 0px;
	color: #000000;
	font-size: 11px;
	background-color: #ffffff;
	font-family: verdana, sans-serif;
}

.avatar {
	border: 0px;
	margin: 1px 1px 1px 1px;
	padding: 0px 0px 0px 0px;
	display: block;
}

.userbar {
	width: 596px;
	margin-top: 26px;
	padding: 2px;
	background-color: #000000;
	color: #ffffff;
	font-size: 8pt;
	line-height: 12pt;
	height: 30px;
	overflow: hidden;
}

.userbar_left {
	float: left;
	width: 30px;
	height: 30px;
	margin-right: 4px;
}

.userbar_right {
	float: right;
	//height: 30px;
	//margin: 0px 4px 0px 10px;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 4px;
	margin-left: 10px;
	text-align: right;
	//these statements do not effectively center the text vertically!
	display: table-cell;
	vertical-align: middle;
}

.username {
	font-size: 10pt;
	font-weight: bold;
}

a.username, a.link {
	color: #ffffff;
}

.contentbox {
	width: 590px;
	margin-top: 1px;
	padding: 5px 5px 5px 5px;
	color: #000000;
	background-color: #ffffff;
	font-size: 11px;
}
