/* think tank forums
 *
 * _style.css
 */

a {
	color: #faefd5;
}

a:active {
	color: #faefd5;
}

a:link {
	color: #faefd5;
}

a:visited {
	color: #faefd5;
}

body {
	background-image: url(images/bg_brown.png);
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	color: #faefd5;
	font-size: 15px;
	background-color: #3c2819;
	font-family: verdana, sans-serif;
}

textarea {
	border-style: solid;
	border-color: #faefd5;
	border-width: 1px;
	color: #faefd5;
	font-size: 11px;
	background-color: #3c2819;
	font-family: verdana, sans-serif;
	margin: 3px 3px 3px 3px;
}

textarea.reply {
	width: 555px;
	color: #faefd5;
	font-size: 11px;
	background-color: #3c2819;
	font-family: verdana, sans-serif;
	padding: 5px 5px 5px 5px;
	border: 2px solid #faefd5;
}

textarea.profile {
	width: 588px;
	color: #faefd5;
	font-size: 11px;
	background-color: #3c2819;
	font-family: verdana, sans-serif;
	margin: 3px 3px 3px 3px;
}


input, select {
	border-style: solid;
	border-color: #faefd5;
	border-width: 1px;
	background-color: #3c2819;
	font-family: verdana, sans-serif;
	color: #faefd5;
	margin: 1px 0px 1px 0px;
}

input.reply {
	border-style: solid;
	border-color: #faefd5;
	border-width: 1px;
	background-color: black;
	margin: 0px 0px 0px 0px;
}

form {
	margin: 0px 0px 0px 0px;
}

.small {
	color: #faefd5;
	font-size: 11px;
	//background-color: #faefd5;
	font-family: verdana, sans-serif;
}

.medium {
	color: #faefd5;
	font-size: 13px;
	//background-color: #faefd5;
	font-family: verdana, sans-serif;
}

.large {
	color: #faefd5;
	font-size: 15px;
	//background-color: #faefd5;
	font-family: verdana, sans-serif;
}

.smallinv {
	color: #faefd5;
	font-size: 11px;
	background-color: #3c2819;
	font-family: verdana, sans-serif;
}

.mediuminv {
	color: #faefd5;
	font-size: 13px;
	background-color: #3c2819;
	font-family: verdana, sans-serif;
}

.largeinv {
	color: #faefd5;
	font-size: 15px;
	background-color: #3c2819;
	font-family: verdana, sans-serif;
}

.indent {
	margin: 0px 0px 0px 25px;
}

.shift {
	margin: 25px 0px 0px 25px;
}

.sidebox {
        float: right;
        clear: right;
	width: 149px;
        margin: 26px 1px 1px 0px;
	padding: 10px;
	color: #faefd5;
	font-size: 13px;
	background-color: #3c2819;
	border: 2px solid #faefd5;
	font-family: verdana, sans-serif;
	text-align: center;
}

#ttf {
	padding: 0px;
	margin: -10px 0px -20px 25px;
	font-size: 64px;
	text-decoration: none;
	font-family: arial black, arial, sans-serif;
}

#ttf a{
	text-decoration: none;
}

#label {
	width: 100%;
	height: 18px;
	margin: 0px 0px;
	padding: 3px 0px 3px 0px;
	color: #faefd5;
	border-top: 2px solid #faefd5;
	border-bottom: 2px solid #faefd5;
	font-size: 15px;
	background-color: #3c2819;
	font-family: verdana, sans-serif;
	font-weight: bold;
}

#enclosure {
	width: 825px;
	padding: 0px 25px 25px 0px;
        margin: 0px 0px;
}

.menu_one {
	float: right;
        clear: right;
	width: 169px;
	padding: 2px;
	margin: 26px 1px 1px 0px;
	color: #faefd5;
	font-size: 13px;
	background-color: #3c2819;
	font-family: verdana, sans-serif;
}

.menu_two {
	float: right;
        clear: right;
	width: 159px;
	padding: 5px;
	margin: 0px 1px 1px 0px;
	color: #faefd5;
	font-size: 11px;
	background-color: #3c2819;
	border: 2px solid #faefd5;
	font-family: verdana, sans-serif;
}

.avatar {
	border: 0px;
	margin: 1px 1px 1px 1px;
	padding: 0px 0px 0px 0px;
	display: block;
}

.whitebox {
	width: 586px;
	margin: 1px 0px 0px 25px;
	padding: 5px 5px 5px 5px;
	color: #faefd5;
	font-size: 11px;
	background-color: #3c2819;
	border: 2px solid #faefd5;
	font-family: verdana, sans-serif;
}
